@page
@model WebApp.Pages.Admin.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ImgPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ImgPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.ProductID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
